.item-card{
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h3{
        font-weight: 300;
        margin: 0.2em 0;
    }
    h4{
        font-size: $medium;
        margin-bottom: 1em;
    }
}

.item-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    flex: 1;

    img{
        width: 12rem;
        height: 12rem;
        object-fit: contain;
    }
}

.item-desc{
    padding: 1rem;
    flex: 1;
}

.sizes{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
    align-items: center;
    select{
        font-size: $small;
        padding: 0.5em;
    }
}



.item-button{
    button{
        width: 100%;
        border: none;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $medium;
        padding: 1rem;
        border-radius: 10em;
        cursor: pointer;
        img{
            width: 1em;
            margin-left: 1em;
        }

        &:hover{
            @include primary-hover-mixin;
        }
    }
}