.small-cart{
    position: fixed;
    right:0;
    top:0;
    padding:6rem 1rem 1rem 1rem;
    width: 50vw;
    max-height: 80vh;
    border-radius: 0 0 0 2rem;
    background-color: $background;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 2px;
    z-index: 2;
}

.cart-info{
    h3{
        color: $cart-counter;
    }
}

.top{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid $foreground ;
    padding: 0.5rem;

    button{
        padding: .5rem;
        font-size: $small;
        background-color: $primary;
        border: none;
        color:grey;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover{
            background-color: grey;
            color:$primary;
        }
    }
}
.content{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.hidden{
    display: none !important;
}

.disabled-link{
    pointer-events: none;
}

.disabled-button{
    background-color: $primary !important;
    color:grey !important;
    cursor: pointer !important;
}

.go-to-cart{
    background-color: $cart-counter;
    color:white;
    padding: 0.8rem;
    border:none;
    border-radius: 0.5rem;
    font-size:  $medium;
    cursor: pointer;
    margin: 2rem 0 0 0;
    width: 100%;
}



@media (max-width: 750px) {
    .small-cart{
        width: 100%;
        border-radius: 0 0 2rem 2rem;
    }
}