main{
    padding: 10rem 0;
}

.goods-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 8rem;
    width: max(48rem, 60vw);
    margin: auto;
}

@media (max-width:680px) {
    .goods-grid{
        grid-template-columns:1fr 1fr;
        width: 30rem;
    }
}
