.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: red;
    z-index: 49;
    top:0;
    left:0;
}

@media (min-width: 900px) {
    .menu{
        width: 30vw;
    }
}