
$small: 1rem;
$medium: 1.5rem;

* {
    font-family: 'Montserrat', sans-serif;
    color: $foreground;
}

h1{
    font-size: 3rem;
    font-weight: 400;
}

p{
    font-size: $small;
}


h3{
    display: flex;
    align-items: center;
    font-size: $medium;

    span{
        color: $cart-counter;
        font-size: 3rem;
    }
}

