// COLORS

$background: #FBFBFB;
$foreground: #33343D;
$primary: #DFDFDF;
$secondary: #2F2F2F;

$filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(962%) hue-rotate(196deg) brightness(90%) contrast(87%);