
.item-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3rem;
    width: max(60vw, 48rem);
    margin: 10rem auto;
}

.item-thumbnail{
    background-color: $primary;
    border-radius: 2rem;
    width: max(30vw, 24rem);
    height: max(30vw, 24rem);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    img{
        width: max(30vw, 22rem);
    }

}



.item-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.description{
    margin:1rem 0; 

    select{
        font-size: $medium;
        padding: 0.5em;
        margin:1rem 0; 
    }
}

.similar{
    padding: 0 0 12rem 0;
}


@media (max-width:800px) {
    .item-container{
        grid-template-columns: 1fr;
        width: 24rem;
    }
}