@import './styles/index';

* {
  margin: 0;
  padding: 0;
}

html{
  font-size: 100%;
}

html, body{
  overflow-x: hidden;
}

body{
  background-color: $background;
}

@media (max-width: 940px) {
  html{
      font-size: 85%;
  }
}

@media (max-width: 600px) {
  html{
      font-size: 75%;
  }
  h1{
    font-size: 2.5rem;
  }
}

