@import './styles/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 100%;
}

html, body{
  overflow-x: hidden;
}

body{
  background-color: $background;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


td{
  padding: 0.5rem;
}

tr:nth-child(odd){
  background-color: rgb(203, 203, 203);
}

table{
  margin: 1rem auto;
  font-size: $small;
  background-color: rgb(230, 230, 230);
}

@media (max-width: 940px) {
  html{
      font-size: 85%;
  }
}

@media (max-width: 600px) {
  html{
      font-size: 75%;
  }
  h1{
    font-size: 2.5rem;
  }
}

